@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is User Dashboard Page</h1>

<script type="text/javascript">
        $(document).ready(function () {
            $("#h4pagetitle").html('Dashboard');
            $("#libreadcrumbitemactive").html('Dashboard');
        });
</script>