<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/css/morris.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/metismenu.min.css" rel="stylesheet">
    <link href="~/css/icons.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <!-- jQuery  -->
  
    <!--<script src="~/js/metismenu.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.slimscroll.js" asp-append-version="true"></script>
    <script src="~/js/waves.min.js" asp-append-version="true"></script>-->
    <!--Morris Chart-->
    <!--<script src="~/js/morris.min.js" asp-append-version="true"></script>
    <script src="~/js/raphael.min.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.init.js" asp-append-version="true"></script>
    <script src="~/js/app.js"></script>-->
    <title>:: Gymone ::</title>
    <style>
        .footer {
            bottom: 0;
            text-align: center !important;
            padding: 19px 30px 20px;
            position: absolute;
            background-color: #222437;
            right: 0;
            left: 0px;
            font-family: "Poppins", sans-serif;
        }
        /******* Content Page *******/
        .content-page {
            margin-left: 0px;
            overflow: hidden;
            margin-bottom: -100px;
        }

            .content-page .content {
                padding: 0 0px 0px 0px;
                margin-top: 0px;
            }

        /******* Page Title *******/
        #divloader {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: #e6f1f036;
            z-index: 99;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="divloader" style="display:none;">
        <img src="~/images/Spinner.gif" style="height:205px;width:200px;top:0;margin-top:15%;" />
    </div>
    <div id="wrapper">
        <div class="content-page">
            <div class="content">
                <div class="container-fluid" id="divcontainerfluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                ©@System.DateTime.Now.Year Gymone <span class="d-none d-sm-inline-block"> - Designed by Srinivasulareddy.com</span>.
            </footer>
        </div>
    </div>

    @section Scripts  {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>