@model Gymone.Entities.ChangepasswordVM

@{
    ViewBag.Title = "Change Password";
}
 
<form asp-action="Changepassword" asp-controller="Account" data-ajax="true" data-ajax-method="POST"
      data-ajax-mode="replace" data-ajax-update="#divChangePassword">
    <div class="row g-0 justify-content-center" id="divChangePassword" style="margin-left:25%;width:40%">
        <div class="col-lg-12">
            <div class="authentication-page-content p-4 d-flex align-items-center">
                <div class="w-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div>
                                <div class="text-center">
                                    <div class="text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                    @if (ViewBag.ResultMessage != null)
                                    {
                                        <div class="alert alert-success" style="float: none;" role="alert">
                                            @ViewBag.ResultMessage
                                        </div>
                                    }
                                    <h4 class="font-size-18 mt-4">Change password</h4>
                                    <p class="text-muted">Change password to continue to Gymone.</p>
                                </div>

                                <div class="p-2 mt-5">
                                    <div class="mb-3 auth-form-group-custom mb-4">
                                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                                        <label for="username">New Password</label>
                                        <input type="password" class="form-control" asp-for="Newpassword" id="password" placeholder="Enter New Password">
                                        <span asp-validation-for="Newpassword" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3 auth-form-group-custom mb-4">
                                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                        <label for="userpassword">OLD Password</label>
                                        <input type="password" class="form-control" asp-for="OldPassword" id="password" placeholder="Enter OLD Password">
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="mt-4 text-center">
                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


