@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="row g-0 justify-content-center">
    <div class="col-lg-4">
        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
            <div class="w-100">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div>
                            <div class="text-center">

                                <h4 class="font-size-18 mt-4">Bye..</h4>
                                <p class="text-muted">Sign in to continue to Gymone.</p>
                            </div>

                            <div class="p-2 mt-5">
                                <p>Please click on this link <a href="/Account/Login" class="fw-medium text-primary"> To Login </a> </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>